<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="TumblrModel" connectionString="metadata=res://*/TumblrModel.csdl|res://*/TumblrModel.ssdl|res://*/TumblrModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hendrik-pc;initial catalog=Tumblr;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <appSettings>
    <add key ="SysDir" value ="C:\Users\Hendrik\Google Drive\TMB\CerebraCoreOnline\Content"/>
    <add key ="Server" value="Hendrik-PC"/>
    <add key="Database" value ="Tumblr"/>
    <add key="Integrated" value ="true"/>
    <add key="Username" value =""/>
    <add key ="Password" value =""/>

  </appSettings>
</configuration>